.App {
  width: 100%;
  height: 90vh;
}
.card-flex-Container {
  width: 80%;
  height: 90%;
  overflow-y: scroll;
  /* background-color: yellow; */
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.shoping-cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-Card {
  width: 20em;
  margin: 1rem;
}
.card {
  width: 20em;
  height: 20em;

  /* background-color: red; */
  margin: 1em 1em;
  text-align: center;
  /* border: 1px solid rgb(204, 202, 202); */
  border-radius: 4px;
  box-shadow: 0px 0px 20px 10px rgb(223, 219, 219);
}
.Img-holder {
  height: 13em;
  width: 100%;
  margin-top: 0.5em;
}

.product-hedding {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}
.price-card-flex {
  width: 80%;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: black;
  margin-top: 1rem;
}
.text-deco {
  text-decoration: none;
  color: black;
}
.price-card {
  font-weight: 900;
  color: rgb(184, 177, 177);
}
.filter-Item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shaoping-cart {
  color: rgb(226, 177, 177);
  font-size: 4rem;
}

.Selected-item-tooltip {
  background-color: red;
  width: 30%;
  height: 20%;
  clip-path: circle(50% at 50% 50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: white;
  position: absolute;
  top: 0.1rem;
  left: 3rem;
  font-size: 0.5rem;
}

.shoping-cart-main-div {
  position: relative;

  margin-right: 2rem;
}

.add-to-cart-button {
  background-color: white;
  margin-top: 0.8rem;
  width: 10rem;
  height: 2.5rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 5px gray;
  font-weight: 900;
  color: #cac5c5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 70%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type='&amp;quot;radio&amp;quot;'] {
  display: none;
}

.color-choose input[type='&amp;quot;radio&amp;quot;'] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type='&amp;quot;radio&amp;quot;'] + label span {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type='&amp;quot;radio&amp;quot;']#red + label span {
  background-color: #c91524;
}
.color-choose input[type='&amp;quot;radio&amp;quot;']#blue + label span {
  background-color: #314780;
}
.color-choose input[type='&amp;quot;radio&amp;quot;']#black + label span {
  background-color: #323232;
}

.color-choose input[type='&amp;quot;radio&amp;quot;']:checked + label span {
  background-image: url('https://image.shutterstock.com/image-photo/yellow-headphones-on-blue-background-260nw-1490726594.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939e;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.cable-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
